button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 12px;
  margin-top: auto;
  background-color: #EE876022;
  color: #EE8760;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;

  &:hover {
    background-color: #EE876033;
  }
}
