APP_SECRET=CHANGE_ME

DATABASE_URL="postgresql://gladkix:CHANGE_ME@database:5432/gladkix_db?serverVersion=16&charset=utf8"

MESSENGER_TRANSPORT_DSN=redis://redis:6379/messages

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=CHANGE_ME
JWT_TTL=3600

CORS_ALLOW_ORIGIN='^http://localhost:3000$'

TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
TRUSTED_HOSTS='^(localhost|gladkix\.ru)$'

CSRF_TOKEN_TTL=3600
